<!doctype html>
<html class="no-js" lang="zxx" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Courses | Education</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">

    <!-- CSS here -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/slicknav.css">
    <link rel="stylesheet" href="css/flaticon.css">
    <link rel="stylesheet" href="css/progressbar_barfiller.css">
    <link rel="stylesheet" href="css/gijgo.css">
    <link rel="stylesheet" href="css/animate.min.css">
    <link rel="stylesheet" href="css/animated-headline.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/fontawesome-all.min.css">
    <link rel="stylesheet" href="css/themify-icons.css">
    <link rel="stylesheet" href="css/slick.css">
    <link rel="stylesheet" href="css/nice-select.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
<!-- ? Preloader Start -->
<div id="preloader-active">
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-inner position-relative">
            <div class="preloader-circle"></div>
            <div class="preloader-img pere-text">
                <img src="/img/logo/loder.png" alt="">
            </div>
        </div>
    </div>
</div>
<!-- Preloader Start -->
<!-- Header Start -->

<header th:replace="fragments/navigation"></header>


<!-- Header End -->
<main>
    <!-- Slider Area Start -->
    <section class="slider-area slider-area2">
        <div class="slider-active">
            <!-- Single Slider -->
            <div class="single-slider slider-height2">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-8 col-lg-11 col-md-12">
                            <div class="hero__caption hero__caption2">
                                <h1 data-animation="bounceIn" data-delay="0.2s">За Нас</h1>
                                <!-- Breadcrumb Start -->
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="/home">Начало</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">За Нас</li>
                                    </ol>
                                </nav>
                                <!-- Breadcrumb End -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Services Area Start -->
    <div class="services-area services-area2 section-padding40">
        <div class="container">
            <div class="row justify-content-sm-center">
                <div class="col-lg-4 col-md-6 col-sm-8">
                    <div class="single-services mb-30">
                        <div class="features-icon">
                            <img src="img/icon/icon1.svg" alt="Курсове по UX">
                        </div>
                        <div class="features-caption">
                            <h3>60+ Курса по Езици</h3>
                            <p>Разширете езиковите си умения с нашите разнообразни курсове.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-8">
                    <div class="single-services mb-30">
                        <div class="features-icon">
                            <img src="img/icon/icon2.svg" alt="Експертни Инструктори">
                        </div>
                        <div class="features-caption">
                            <h3>Експертни Инструктори</h3>
                            <p>Учи от опитни преподаватели, които са експерти в своите области.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-8">
                    <div class="single-services mb-30">
                        <div class="features-icon">
                            <img src="img/icon/icon3.svg" alt="Достъп за Живот">
                        </div>
                        <div class="features-caption">
                            <h3>Достъп за Живот</h3>
                            <p>Получете неограничен достъп до всички учебни материали и актуализации.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- About Area-1 Start -->
    <section class="about-area1 fix pt-10">
        <div class="support-wrapper align-items-center">
            <div class="left-content1">
                <div class="about-icon">
                    <img src="img/icon/about.svg" alt="За Нас">
                </div>
                <!-- Section Title -->
                <div class="section-tittle section-tittle2 mb-55">
                    <div class="front-text">
                        <h2>Научете нови умения онлайн с водещи преподаватели</h2>
                        <p>Открийте ефективни инструменти и техники за развитие на езиковите си умения с нашите експерти.</p>
                    </div>
                </div>
                <div class="single-features">
                    <div class="features-icon">
                        <img src="img/icon/right-icon.svg" alt="Икона на Функция">
                    </div>
                    <div class="features-caption">
                        <p>Техники за ефективно взаимодействие с различни обучаеми.</p>
                    </div>
                </div>
                <div class="single-features">
                    <div class="features-icon">
                        <img src="img/icon/right-icon.svg" alt="Икона на Функция">
                    </div>
                    <div class="features-caption">
                        <p>Присъединете се към милиони хора по света, които учат заедно.</p>
                    </div>
                </div>
                <div class="single-features">
                    <div class="features-icon">
                        <img src="img/icon/right-icon.svg" alt="Икона на Функция">
                    </div>
                    <div class="features-caption">
                        <p>Онлайн обучението е лесно и естествено.</p>
                    </div>
                </div>
            </div>
            <div class="right-content1">
                <!-- Image -->
                <div class="right-img">
                    <img src="img/gallery/about.png" alt="За Нас">

                    <div class="video-icon">
                        <a class="popup-video btn-icon" href="https://www.youtube.com/watch?v=up68UAfH0d0"><i class="fas fa-play"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About Area End -->

    <!-- Top Subjects Area Start -->
    <div class="topic-area section-padding40">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-7 col-lg-8">
                    <div class="section-tittle text-center mb-55">
                        <h2>Разгледайте водещи теми</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- Repeat for each topic -->
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="single-topic text-center mb-30">
                        <div class="topic-img">
                            <img src="img/gallery/topic1.png" alt="Програмиране">
                            <div class="topic-content-box">
                                <div class="topic-content">
                                    <h3><a href="#">Програмиране</a></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Repeat similar blocks for other topics -->
            </div>
            <div class="row justify-content-center">
                <div class="col-xl-12">
                    <div class="section-tittle text-center mt-20">
                        <a href="/courses" class="border-btn">Вижте Още Теми</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Top Subjects End -->

    <!-- About Area-3 Start -->
    <section class="about-area3 fix">
        <div class="support-wrapper align-items-center">
            <div class="right-content3">
                <!-- Image -->
                <div class="right-img">
                    <img src="img/gallery/about3.png" alt="Резултати от Обучение">
                </div>
            </div>
            <div class="left-content3">
                <!-- Section Title -->
                <div class="section-tittle section-tittle2 mb-20">
                    <div class="front-text">
                        <h2>Резултати от курсовете, които ще преминете</h2>
                    </div>
                </div>
                <div class="single-features">
                    <div class="features-icon">
                        <img src="img/icon/right-icon.svg" alt="Икона на Функция">
                    </div>
                    <div class="features-caption">
                        <p>Техники за ефективно взаимодействие с уязвими деца и млади хора.</p>
                    </div>
                </div>
                <div class="single-features">
                    <div class="features-icon">
                        <img src="img/icon/right-icon.svg" alt="Икона на Функция">
                    </div>
                    <div class="features-caption">
                        <p>Присъединете се към милиони хора по света, които учат заедно.</p>
                    </div>
                </div>
                <div class="single-features">
                    <div class="features-icon">
                        <img src="img/icon/right-icon.svg" alt="Икона на Функция">
                    </div>
                    <div class="features-caption">
                        <p>Онлайн обучението е лесно и естествено.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About Area End -->

    <!-- Team Area Start -->
    <section class="team-area section-padding40 fix">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-7 col-lg-8">
                    <div class="section-tittle text-center mb-55">
                        <h2>Нашите Експерти</h2>
                    </div>
                </div>
            </div>
            <div class="team-active">
                <div class="single-cat text-center">
                    <div class="cat-icon">
                        <img src="img/gallery/team1.png" alt="Г-н Уреала">
                    </div>
                    <div class="cat-cap">
                        <h5><a href="/services">Г-н Уреала</a></h5>
                        <p>Опитен специалист в нашата област.</p>
                    </div>
                </div>
                <div class="single-cat text-center">
                    <div class="cat-icon">
                        <img src="img/gallery/team2.png" alt="Г-н Уттом">
                    </div>
                    <div class="cat-cap">
                        <h5><a href="/services">Г-н Уттом</a></h5>
                        <p>Опитен специалист в нашата област.</p>
                    </div>
                </div>
                <!-- Repeat similar blocks for other team members -->
            </div>
        </div>
    </section>
    <!-- Team Area End -->
</main>


<!-- Footer -->
<div th:replace="fragments/footer"></div>

<!-- Scroll Up -->
<div id="back-top">
    <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
</div>

<!-- JS here -->
<script th:replace="fragments/script"></script>




</body>
</html>