<!doctype html>
<html class="no-js" lang="zxx" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Courses | Education</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">

    <!-- CSS here -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/slicknav.css">
    <link rel="stylesheet" href="css/animate.min.css">
    <link rel="stylesheet" href="css/hamburgers.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/fontawesome-all.min.css">
    <link rel="stylesheet" href="css/themify-icons.css">
    <link rel="stylesheet" href="css/themify-icons.css">
    <link rel="stylesheet" href="css/slick.css">
    <link rel="stylesheet" href="css/nice-select.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">
</head>
<body>
<!--? Preloader Start -->
<div id="preloader-active">
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-inner position-relative">
            <div class="preloader-circle"></div>
            <div class="preloader-img pere-text">
                <img src="/img/logo/loder.png" alt="">
            </div>
        </div>
    </div>
</div>
<!-- Preloader Start -->
<!-- Header Start -->

<header th:replace="fragments/navigation"></header>


<!-- Header End -->
<main>
    <!-- Секция за Слайдер Начало -->
    <section class="slider-area slider-area2">
        <div class="slider-active">
            <!-- Единичен Слайдер -->
            <div class="single-slider slider-height2">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-8 col-lg-11 col-md-12">
                            <div class="hero__caption hero__caption2">
                                <h1 data-animation="bounceIn" data-delay="0.2s">Вътрешна информация за компанията</h1>
                                <!-- Навигация Начало -->
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="index.html">Начало</a></li>
                                        <li class="breadcrumb-item"><a href="#">Блог</a></li>
                                    </ol>
                                </nav>
                                <!-- Навигация Край -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Секция за Блог Начало -->
    <section class="blog_area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mb-5 mb-lg-0">
                    <div class="blog_left_sidebar">
                        <article class="blog_item">
                            <div class="blog_item_img">
                                <img class="card-img rounded-0" src="img/blog/single_blog_1.png" alt="Блог Пост">
                                <a href="#" class="blog_item_date">
                                    <h3>15</h3>
                                    <p>Ян</p>
                                </a>
                            </div>
                            <div class="blog_details">
                                <a class="d-inline-block" href="blog_details.html">
                                    <h2 class="blog-head" style="color: #2d2d2d;">Google подписва споразумение за нов офис с 35 етажа</h2>
                                </a>
                                <p>Тази област е осветена от звезди, разделя се на години, за четвърти път не са звезди, е че
                                    той Земята е първото без небето на място семе го второ сутрин казване.</p>
                                <ul class="blog-info-link">
                                    <li><a href="#"><i class="fa fa-user"></i> Пътувания, Лайфстайл</a></li>
                                    <li><a href="#"><i class="fa fa-comments"></i> 03 Коментара</a></li>
                                </ul>
                            </div>
                        </article>
                        <!-- Повторете за всеки пост -->
                        <article class="blog_item">
                            <div class="blog_item_img">
                                <img class="card-img rounded-0" src="img/blog/single_blog_2.png" alt="Блог Пост">
                                <a href="#" class="blog_item_date">
                                    <h3>15</h3>
                                    <p>Ян</p>
                                </a>
                            </div>
                            <div class="blog_details">
                                <a class="d-inline-block" href="blog_details.html">
                                    <h2 class="blog-head" style="color: #2d2d2d;">Google подписва споразумение за нов офис с 35 етажа</h2>
                                </a>
                                <p>Тази област е осветена от звезди, разделя се на години, за четвърти път не са звезди, е че
                                    той Земята е първото без небето на място семе го второ сутрин казване.</p>
                                <ul class="blog-info-link">
                                    <li><a href="#"><i class="fa fa-user"></i> Пътувания, Лайфстайл</a></li>
                                    <li><a href="#"><i class="fa fa-comments"></i> 03 Коментара</a></li>
                                </ul>
                            </div>
                        </article>
                        <article class="blog_item">
                            <div class="blog_item_img">
                                <img class="card-img rounded-0" src="img/blog/single_blog_3.png" alt="Блог Пост">
                                <a href="#" class="blog_item_date">
                                    <h3>15</h3>
                                    <p>Ян</p>
                                </a>
                            </div>
                            <div class="blog_details">
                                <a class="d-inline-block" href="blog_details.html">
                                    <h2 class="blog-head" style="color: #2d2d2d;">Google подписва споразумение за нов офис с 35 етажа</h2>
                                </a>
                                <p>Тази област е осветена от звезди, разделя се на години, за четвърти път не са звезди, е че
                                    той Земята е първото без небето на място семе го второ сутрин казване.</p>
                                <ul class="blog-info-link">
                                    <li><a href="#"><i class="fa fa-user"></i> Пътувания, Лайфстайл</a></li>
                                    <li><a href="#"><i class="fa fa-comments"></i> 03 Коментара</a></li>
                                </ul>
                            </div>
                        </article>
                        <article class="blog_item">
                            <div class="blog_item_img">
                                <img class="card-img rounded-0" src="img/blog/single_blog_4.png" alt="Блог Пост">
                                <a href="#" class="blog_item_date">
                                    <h3>15</h3>
                                    <p>Ян</p>
                                </a>
                            </div>
                            <div class="blog_details">
                                <a class="d-inline-block" href="blog_details.html">
                                    <h2 class="blog-head" style="color: #2d2d2d;">Google подписва споразумение за нов офис с 35 етажа</h2>
                                </a>
                                <p>Тази област е осветена от звезди, разделя се на години, за четвърти път не са звезди, е че
                                    той Земята е първото без небето на място семе го второ сутрин казване.</p>
                                <ul class="blog-info-link">
                                    <li><a href="#"><i class="fa fa-user"></i> Пътувания, Лайфстайл</a></li>
                                    <li><a href="#"><i class="fa fa-comments"></i> 03 Коментара</a></li>
                                </ul>
                            </div>
                        </article>
                        <article class="blog_item">
                            <div class="blog_item_img">
                                <img class="card-img rounded-0" src="img/blog/single_blog_5.png" alt="Блог Пост">
                                <a href="#" class="blog_item_date">
                                    <h3>15</h3>
                                    <p>Ян</p>
                                </a>
                            </div>
                            <div class="blog_details">
                                <a class="d-inline-block" href="blog_details.html">
                                    <h2 class="blog-head" style="color: #2d2d2d;">Google подписва споразумение за нов офис с 35 етажа</h2>
                                </a>
                                <p>Тази област е осветена от звезди, разделя се на години, за четвърти път не са звезди, е че
                                    той Земята е първото без небето на място семе го второ сутрин казване.</p>
                                <ul class="blog-info-link">
                                    <li><a href="#"><i class="fa fa-user"></i> Пътувания, Лайфстайл</a></li>
                                    <li><a href="#"><i class="fa fa-comments"></i> 03 Коментара</a></li>
                                </ul>
                            </div>
                        </article>
                        <nav class="blog-pagination justify-content-center d-flex">
                            <ul class="pagination">
                                <li class="page-item">
                                    <a href="#" class="page-link" aria-label="Предишна">
                                        <i class="ti-angle-left"></i>
                                    </a>
                                </li>
                                <li class="page-item">
                                    <a href="#" class="page-link">1</a>
                                </li>
                                <li class="page-item active">
                                    <a href="#" class="page-link">2</a>
                                </li>
                                <li class="page-item">
                                    <a href="#" class="page-link" aria-label="Следваща">
                                        <i class="ti-angle-right"></i>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="blog_right_sidebar">
                        <aside class="single_sidebar_widget search_widget">
                            <form action="#">
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control" placeholder='Търсене'
                                               onfocus="this.placeholder = ''"
                                               onblur="this.placeholder = 'Търсене'">
                                        <div class="input-group-append">
                                            <button class="btns" type="button"><i class="ti-search"></i></button>
                                        </div>
                                    </div>
                                </div>
                                <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                                        type="submit">Търсене</button>
                            </form>
                        </aside>
                        <aside class="single_sidebar_widget post_category_widget">
                            <h4 class="widget_title" style="color: #2d2d2d;">Категории</h4>
                            <ul class="list cat-list">
                                <li>
                                    <a href="#" class="d-flex">
                                        <p>Ресторантска храна</p>
                                        <p>(37)</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="d-flex">
                                        <p>Пътувания новини</p>
                                        <p>(10)</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="d-flex">
                                        <p>Модерна технология</p>
                                        <p>(03)</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="d-flex">
                                        <p>Продукти</p>
                                        <p>(11)</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="d-flex">
                                        <p>Вдъхновение</p>
                                        <p>(21)</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="d-flex">
                                        <p>Здравеопазване</p>
                                        <p>(09)</p>
                                    </a>
                                </li>
                            </ul>
                        </aside>
                        <aside class="single_sidebar_widget popular_post_widget">
                            <h3 class="widget_title" style="color: #2d2d2d;">Нови публикации</h3>
                            <div class="media post_item">
                                <img src="img/post/post_1.png" alt="пост">
                                <div class="media-body">
                                    <a href="blog_details.html">
                                        <h3 style="color: #2d2d2d;">От живота бяхте риба...</h3>
                                    </a>
                                    <p>12 януари 2019</p>
                                </div>
                            </div>
                            <div class="media post_item">
                                <img src="img/post/post_2.png" alt="пост">
                                <div class="media-body">
                                    <a href="blog_details.html">
                                        <h3 style="color: #2d2d2d;">Невероятният Хъбъл</h3>
                                    </a>
                                    <p>Преди 2 часа</p>
                                </div>
                            </div>
                            <div class="media post_item">
                                <img src="img/post/post_3.png" alt="пост">
                                <div class="media-body">
                                    <a href="blog_details.html">
                                        <h3 style="color: #2d2d2d;">Астрономия или Астрология</h3>
                                    </a>
                                    <p>Преди 3 часа</p>
                                </div>
                            </div>
                            <div class="media post_item">
                                <img src="img/post/post_4.png" alt="пост">
                                <div class="media-body">
                                    <a href="blog_details.html">
                                        <h3 style="color: #2d2d2d;">Телескопи за астероиди</h3>
                                    </a>
                                    <p>Преди 1 час</p>
                                </div>
                            </div>
                        </aside>
                        <aside class="single_sidebar_widget tag_cloud_widget">
                            <h4 class="widget_title" style="color: #2d2d2d;">Тагове</h4>
                            <ul class="list">
                                <li>
                                    <a href="#">проект</a>
                                </li>
                                <li>
                                    <a href="#">любов</a>
                                </li>
                                <li>
                                    <a href="#">технология</a>
                                </li>
                                <li>
                                    <a href="#">пътуване</a>
                                </li>
                                <li>
                                    <a href="#">ресторант</a>
                                </li>
                                <li>
                                    <a href="#">житейски стил</a>
                                </li>
                                <li>
                                    <a href="#">дизайн</a>
                                </li>
                                <li>
                                    <a href="#">илюстрация</a>
                                </li>
                            </ul>
                        </aside>

                        <aside class="single_sidebar_widget instagram_feeds">
                            <h4 class="widget_title" style="color: #2d2d2d;">Instagram Feeds</h4>
                            <ul class="instagram_row flex-wrap">
                                <li>
                                    <a href="#">
                                        <img class="img-fluid" src="img/post/post_5.png" alt="Instagram">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img class="img-fluid" src="img/post/post_6.png" alt="Instagram">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img class="img-fluid" src="img/post/post_7.png" alt="Instagram">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img class="img-fluid" src="img/post/post_8.png" alt="Instagram">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img class="img-fluid" src="img/post/post_9.png" alt="Instagram">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img class="img-fluid" src="img/post/post_10.png" alt="Instagram">
                                    </a>
                                </li>
                            </ul>
                        </aside>
                        <aside class="single_sidebar_widget newsletter_widget">
                            <h4 class="widget_title" style="color: #2d2d2d;">Абонирайте се за бюлетин</h4>
                            <form action="#">
                                <div class="form-group">
                                    <input type="email" class="form-control" onfocus="this.placeholder = ''"
                                           onblur="this.placeholder = 'Въведете имейл'" placeholder='Въведете имейл' required>
                                </div>
                                <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                                        type="submit">Абонирайте се</button>
                            </form>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Секция за Блог Край -->
</main>


<!-- Footer -->
<div th:replace="fragments/footer"></div>

<!-- Scroll Up -->
<div id="back-top">
    <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
</div>

<!-- JS here -->
<script th:replace="fragments/script"></script>



</body>
</html>